<.navbar id="nav-1" color="success" variant="shadow">
  <:list><.link navigate="/">Home</.link></:list>
  <:list><.link navigate="/examples/sidebar">List</.link></:list>
</.navbar>
<main>
  <.flash_group flash={@flash} />
  {@inner_content}
</main>
